{% extends "layout.html" %}

{% block title %}
    Find price!
{% endblock %}

{% block main %}
    <form action="/scrape" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="songno" placeholder="How many songs?" type="number">
        </div>
        <select name="timespan">
            <option disabled selected value="">What timespan?</option>
            
            <option value="short_term">short</option>
            <option value="medium_term">medium</option>
            <option value="long_term">long</option>
            
        </select>


        <button class="btn btn-primary" type="submit">Submit request!</button>
    </form>
{% endblock %}
