{% extends "layout.html" %}

{% block title %}
    Find price!
{% endblock %}

{% block main %}
<table>

<table>
                    <thead>
                        <tr>
                            <th>Symbol</th>
                            <th>Shares transacted</th>
                            <th>time</th>
                            <th>price</th>
                            <th>type</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for trans in transcations %}
                            <tr>
                                <td>{{ trans.symbol }}</td>
                                <td>{{ trans.quantity }}</td>
                                <td>{{ trans.time }}</td>
                                <td>{{ trans.price }}</td>
                                <td>{{ trans.buysell }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

</table>
{% endblock %}
