{% extends "layout.html" %}

{% block title %}
    Find price!
{% endblock %}

{% block main %}
<div class="centered">
<table>
<h>Portfolio:</h>

    <table align="center" style="margin: 0px auto;">
                    <thead>
                        <tr>
                            <th>Symbol</th>
                            <th>Name</th>
                            <th>Shares</th>
                            <th>Price</th>
                            <th>Total</th>


                        </tr>
                    </thead>
                    <tbody>
                        {{ portfolio }}
                    </tbody>
                </table>

    </table>
</div>
{% endblock %}
