{% extends "layout.html" %}

{% block title %}
    Find price!
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <select name="symbol">
            <option disabled selected value="">Sell a stock!</option>
            {% for symbol in stocks %}
                <option value="{{ symbol }}">{{ symbol }}</option>
            {% endfor %}
        </select>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="shares" placeholder="shares" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Sell stock!</button>
    </form>
{% endblock %}
